torch==2.2.0
torchvision==0.17.0
onnx==1.16.0
onnxruntime==1.17.0
tensorflow==2.16.1
mne==1.7.0
pyedflib==0.1.30
numpy==1.26.4
scipy==1.13.0
scikit-learn==1.4.2
optuna==3.6.1
psutil==5.9.8
matplotlib==3.8.4
seaborn==0.13.2
tqdm==4.66.2
pandas==2.2.2
